/*  
    De font files zet je in hetzelfde mapje als de fontsheet.css
    Per font-variant declare je als volgt de font. 
*/

@font-face {
    font-family: 'Uni Neue';
    src: url('UniNeueBold.eot');
    src: url('UniNeueBold.eot?#iefix') format('embedded-opentype'),
        url('UniNeueBold.woff2') format('woff2'),
        url('UniNeueBold.woff') format('woff'),
        url('UniNeueBold.ttf') format('truetype'),
        url('UniNeueBold.svg#UniNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('UniNeueBlack.eot');
    src: url('UniNeueBlack.eot?#iefix') format('embedded-opentype'),
        url('UniNeueBlack.woff2') format('woff2'),
        url('UniNeueBlack.woff') format('woff'),
        url('UniNeueBlack.ttf') format('truetype'),
        url('UniNeueBlack.svg#UniNeueBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('UniNeueRegular.eot');
    src: url('UniNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('UniNeueRegular.woff2') format('woff2'),
        url('UniNeueRegular.woff') format('woff'),
        url('UniNeueRegular.ttf') format('truetype'),
        url('UniNeueRegular.svg#UniNeueRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}

